@value colors: "../../stylesheet/vars.css";
@value primaryColor from colors;

@import "../../stylesheet/fonts.css";

.title {
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: primaryColor;
}

@media screen and (min-width: 320px) {
  .menu {
    margin: 0 auto;
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    width: 768px;
    padding: 15px;
    flex-flow: wrap row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1170px) {
  .menu {
    width: 1170px;
    padding: 15px;
  }
}
