.buttons_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.button {
  padding: 12px 0;
  width: 200px;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ff6c00;
  font-weight: bold;
  border: solid 2px #ff6c00;
  transition: all 0.3s ease;
  margin: 8px 0;
}

.button:not(:last-of-type) {
  margin-right: 0;
}

.items_container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 48rem) {
  .buttons_container {
    flex-direction: row;
  }
  .button:not(:last-of-type) {
    margin-right: 10px;
  }
}
