.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.button {
  padding: 14px 0;
  width: 200px;
  border-radius: 10px;
  font-size: 14px;
  font-family: Roboto, serif;
  text-transform: uppercase;
  background-color: #ff6c00;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
  margin: 8px 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.button:hover,
.button:focus {
  transform: scale(1.08);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  background-color: #ff9900;
  outline: none;
}

.button:active {
  transform: scale(1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.button:not(:last-of-type) {
  margin-right: 0;
}

.button_active {
  background-color: #00e31a;
  transform: scale(1.06);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.button_active:hover,
.button_active:focus {
  background-color: #00ff26;
}

.input {
  width: 260px;
  padding: 10px 6px;
  font-family: OswaldRegular;
  border-radius: 6px;
  border: solid 2px #9c9c9c;
  margin-bottom: 30px;
}

.input:hover,
.input:focus {
  border: solid 2px #686868;
}

.input::placeholder {
  font-family: OswaldRegular;
}

.items_container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: auto;
  gap: 25px 30px;
  margin-bottom: 60px;
}

@media screen and (min-width: 42rem) {
  .items_container {
    grid-template-columns: 270px 270px;
  }
}

@media screen and (min-width: 48rem) {
  .buttons_container {
    flex-direction: row;
  }
  .button:not(:last-of-type) {
    margin-right: 18px;
  }
}

@media screen and (min-width: 64rem) {
  .items_container {
    grid-template-columns: 270px 270px 270px;
  }
}

@media screen and (min-width: 82rem) {
  .items_container {
    grid-template-columns: 270px 270px 270px 270px;
  }
}
