/* COLORS */

@value primaryColor: #272727;
@value accentColor: #FF6C00;
@value lightColor: #FFF;
@value primaryBackgroundColor: rgba(39, 39, 39, 0.8);
@value secondaryBackgroundColor: rgba(39, 39, 39, 0.2);
@value primaryTextColor: rgba(0, 0, 0, 0.6);
@value iconsColor: rgba(255, 255, 255, 0.1);
@value borderColor: rgba(39, 39, 39, 0.1);

/* FONT SIZES */
/* 36 px */
@value primaryHeaderFontSize: 2.25 rem;
/* 24 px */
@value secondaryHeaderFontSize: 1.5 rem;
/* 30 px */
@value thirdHeaderFontStyle: 1.875 rem;
/* 14 px */
@value primaryTextFontSize: 0.875 rem;
/* 20 px */
@value secondaryTextFontSize: 1.25 rem;
/* 76 px */
@value sliderFontSize: 4.75 rem;
