@import "../../stylesheet/fonts.css";

.pizzaListCard {
  width: 280px;
  position: relative;
  box-shadow: black;
  border: 2px lightgrey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fafafa;
  box-shadow: 0px 3px 4px #00000040, 0px 2px 2px #00000014,
    0px 1px 1px #00000029;
  transition: transform 0.2s linear;
}

.pizzaListCard:hover {
  transform: scale(1.05);
}

.imageItemWrapper {
  width: 280px;
  background-color: white;
}

.imageItem {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 2px #00000029;
  margin-bottom: 0px;
  object-fit: contain;
}

.descriptionContainer {
  padding: 10px 16px 25px 16px;
  position: relative;
  min-height: 246px;
}

.sizePriceContainer {
  position: absolute;
  bottom: 10px;
}

.sizePriceButtonWrapper {
  display: flex;
  align-items: center;
}

.sizePriceWrapper {
  width: 148px;
}

.heading {
  font-family: OswaldRegular;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #ff6c00;
  mix-blend-mode: normal;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.ingredientItem {
  margin-right: 10px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  /* or 143% */

  letter-spacing: 0.25px;

  /* Black — Medium Emphasis */

  color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
}

.radioButtonsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin-bottom: 32px;
}

.radioButtonsList li {
  position: relative;
}

.sizeLabel {
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
}

.radioButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(39, 39, 39, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radioButton:focus {
  outline: none;
}

.radioButton:checked {
  background-color: rgba(39, 39, 39, 0.8);
}

.radioButton:checked + .sizeText {
  color: white;
  font-weight: bold;
}

.sizeText {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  color: #272727;
  overflow: hidden;
  text-align: center;
  transform: translate(-50%, -50%);
}

.price {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;

  letter-spacing: 0.25px;

  color: #272727;
}
.currency {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.25px;

  color: #272727;
}
.addCart {
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 100px;
  height: 36px;
  background: #ff6c00;
  border: none;
  outline: 0 !important;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px #ffffff33 inset, 0 3px 5px #00010680, 0 0 1px 1px #00010633;
  text-shadow: 0 -1px 2px #00000033;
  transition: 0.2s ease-in-out;
}

.addCart:active {
  box-shadow: 0 0px #ffffff33 inset, 0 0px 0px #00010680, 0 0 0px 0px #00010633;
}

@media screen and (min-width: 768px) {
  .pizzaListCard {
    width: 354px;
    margin-left: 0px;
    margin-right: 30px;
  }
  .pizzaListCard:nth-of-type(2n) {
    margin-right: 0px;
  }
 

  .sizePriceWrapper {
    width: 222px;
  }

  .imageItemWrapper {
    width: 354px;
  }

  .heading {
    font-family: OswaldMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .pizzaListCard {
    width: 270px;
    margin-right: 30px;
  }

  .pizzaListCard:nth-of-type(2n) {
    margin-right: 30px;
  }
  .pizzaListCard:nth-of-type(4n) {
    margin-right: 0px;
  }
  .sizePriceWrapper {
    width: 138px;
  }

  .pizzaListCard:nth-of-type(4) {
    margin-right: 0px;
  }

  .imageItemWrapper {
    width: 270px;
  }

  .descriptionContainer {
    min-height: 280px;
  }
}
