.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 500;
  width: 800px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 8px 12px 8px 12px #0000001f, 1px 2px 4px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
}
.formInput {
  color: #272727;
  padding: 10px 0px 10px 10px;
  border: 1px solid rgba(39, 39, 39, 0.2);
  border-radius: 4px;
  width: 450px;
  margin-bottom: 20px;
}

.formInput::placeholder {
  color: #27272780;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 0 auto 10px;
}
.formButton {
  width: 260px;
  max-height: 50px;
  background-color: #ff6c00;
  border: solid 2px #ff6c00;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0px;
  color: #ffffff;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.formButton:hover,
.formButton:focus {
  background-color: #ff5900;
  border: solid 2px #ff5900;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.uploadInput {
  display: none;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 40px;
  background: #505052;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 15px 0 15px 0;
}

.fileUploadGreen {
  composes: fileUpload;
  background-color: green;
}

.fileUpload:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.uploadLabel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploadSpan {
  line-height: 40px;
  text-transform: uppercase;
}
.fileName {
  margin-bottom: 10px;
  color: #505052;
}
