@value variables: '../../stylesheet/vars.css';
@value lightColor, primaryTextFontSize from variables;

.languageSelect {
  margin-right: 96px;
  width: 120px;
  height: 22px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: lightColor;
  font-family: RobotoRegular;
  font-size: primaryTextFontSize;
}
