@value variables: '../../stylesheet/vars.css';
@value lightColor, accentColor, primaryColor, primaryTextFontSize from variables;

.languageSelect__container {
  margin-right: 96px;
  width: 120px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  outline: none;
  color: primaryColor;
  font-family: RobotoRegular;
  font-size: primaryTextFontSize;
}

.languageSelect__control {
  background-color: transparent;
}

.languageSelect__value-control {
  background-color: transparent;
  color: accentColor;
}

.languageSelect__option {
  color: primaryColor;
}

.languageSelect__option--is-selected {
  background-color: primaryColor;
}
