@import "../../stylesheet/main.css";

.section {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 500;
  position: absolute;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 8px 12px 8px 12px #0000001f, 1px 2px 4px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  padding-top: 40px;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInput {
  color: #27272780;
  width: 420px;
  padding: 17px 0px 17px 16px;
  border: 1px solid rgba(39, 39, 39, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
.formInput:last-of-type {
  margin-bottom: 30px;
}
.formInput::placeholder {
  color: #27272780;
}
.buttonToClose {
  position: absolute;
  width: 11px;
  height: 11px;
  display: block;
  top: 20px;
  right: 20px;
  background-color: white;
  border: none;
  background-image: url("../../stylesheet/images/buttonToCloseWindow.svg");
}
.formButton {
  width: 420px;
  background: #ff6c00;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0px;
  margin-bottom: 30px;
  color: #ffffff;
}

.backToEnterLink {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #272727;
  margin-bottom: 40px;
}

@media screen and (min-width: 420px) {
  .section {
    width: 280px;
    padding: 5px;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .formInput {
    width: 260px;
    margin-bottom: 7px;
  }
  .formButton {
    width: 260px;
  }
}
