@value variables: '../../stylesheet/vars.css';
@value accentColor, lightColor, secondaryTextFontSize from variables;

.orderItemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 40px 30px;
  border: 1px solid rgba(39, 39, 39, 0.1);
  box-sizing: border-box;
}

.orderItemCard:last-child {
  margin-bottom: 0px;
}

.deleteButton {
  position: absolute;
  border: none;
  background: transparent;
  left: 92%;
  top: 2%;
}

.itemImg {
  width: 220px;
  height: 174px;
  margin-bottom: 20px;
  object-fit: contain;
  object-position: center;
}

.productName {
  text-align: center;
  color: accentColor;
  font-family: "OswaldRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.ingredientsText {
  font-family: "RobotoRegular";
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 35px;
}

.orderDetailsWrapper {
  display: flex;
  justify-content: space-between;
}

.priceText {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 0.25px;
}

.currencyText {
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
}

.amountContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.decrementBtn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background: rgba(39, 39, 39, 0.2);
}

.incrementBtn {
  background: rgba(39, 39, 39, 0.8);
  color: #ffffff;
}

.amountNumber {
  margin: 0px;
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.pizzaSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 11%;
  top: 40%;
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 2rem;
  letter-spacing: 0.25px;
  width: 40.15px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 108, 0, 0.5);
  color: white;
}

/*media*/

@media (min-width: 768px) {
  .orderItemCard {
    width: 738px;
    height: 205px;
    padding: 0;
    margin-bottom: 16px;
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .orderItemCard:not(:last-child) {
    margin-bottom: 16px;
  }

  .imgContainer {
    display: flex;
    width: 270px;
    align-self: end;
    height: 205px;
    margin: 0;
    padding: 0;
  }

  .itemImg {
    display: flex;
    width: 270px;
    height: 203px;
    margin-bottom: 0px;
  }

  .deleteButton {
    top: 15px;
    left: 96%;
    margin: 0;
  }

  .contentWrapper {
    width: 468px;
    padding-top: 44px;
    padding-left: 32px;
    padding-right: 16px;
  }

  .productName,
  .ingredientsText {
    text-align: left;
  }

  /* .orderDetailsWrapper {
    width: 400px;
  } */

  .pizzaSize {
    position: absolute;
    left: 33%;
    top: 20%;
  }
}

@media (min-width: 1400px) {
  .orderItemCard {
    display: flex;
    width: 770px;
  }

  .itemImg {
    display: flex;
    width: 270px;
    height: 203px;
    margin-bottom: 0px;
  }

  .contentWrapper {
    width: 500px;
  }
}
