.contactForm {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  box-sizing: border-box;
}

.formContainer {
  position: relative;
  padding-top: 1.5rem;
}

.input {
  -moz-appearance: textfield;
  padding-left:10px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(39, 39, 39, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transform: translateX(-1);
  transition: all 0.2s ease-out;
  color: rgba(39, 39, 39, 0.5);
}

.input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}

.submit {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ff6c00;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .contactForm {
    width: 420px;
  }
}
