@value colors: "../../stylesheet/vars.css";
@value accentColor, primaryColor, secondaryBackgroundColor, lightColor from colors;

@import "../../stylesheet/fonts.css";

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .menu_item {
    width: 280px;
    margin-bottom: 20px;
    background: #fafafa;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
      0px 1px 1px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: transform 0.2s linear;
  }
  .menu_item:hover {
    transform: scale(1.05);
  }
  .body_text {
    text-align: left;
    padding: 20px 16px;
  }
  .headline {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    /* or 100% */
    letter-spacing: 0.4px;

    mix-blend-mode: normal;
    color: accentColor;
    padding-bottom: 20px;
  }
  .size {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    border-radius: 50%;
    background: secondaryBackgroundColor;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    letter-spacing: 0.25px;
    text-align: center;
    color: primaryColor;
  }
  .price {
    display: inline-block;
    padding-top: 20px;
    margin-right: 54px;
    width: 90px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    letter-spacing: 0.25px;
    color: primaryColor;
  }
  .button {
    display: inline-block;
    padding: 10px 16px;
    background: accentColor;
    color: lightColor;
    border: none;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .menu_item {
    width: 354px;
    flex-flow: wrap row;
    justify-content: space-between;
  }
  .price {
    margin-right: 130px;
  }
}
@media screen and (min-width: 1170px) {
  .menu_item {
    width: 270px;
  }
  .price {
    margin-right: 46px;
  }
}
