@value colors: "../../stylesheet/vars.css";
@value accentColor, primaryColor, secondaryBackgroundColor, lightColor, primaryBackgroundColor from colors;

@import "../../stylesheet/fonts.css";

@media screen and (min-width: 320px) {
  .menuItem {
    width: 280px;
    margin-bottom: 20px;
    background: #fafafa;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
      0px 1px 1px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: transform 0.2s linear;
  }
  .menuItem:hover {
    transform: scale(1.05);
  }
  .menuItem_imageBlock {
    width: 100%;
    height: 192px;
  }
  .menuItem_img {
    display: block;
    box-shadow: 0px 0px 2px #00000029;
    background: lightColor;
    width: 100%;
    height: 192px;
    object-fit: contain;
  }
  .menuItem_content {
    text-align: left;
    padding: 16px 16px 10px;
  }
  .menuItem_headline {
    font-family: OswaldMedium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    mix-blend-mode: normal;
    color: accentColor;
    height: 70px;
    margin: 0;
  }
  .menuItem_size {
    margin-bottom: 20px;
    font-family: RobotoRegular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: primaryBackgroundColor;
  }
  .menuItem_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuItem_price {
    font-family: RobotoBold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: primaryColor;
  }
  .button {
    font-family: RobotoRegular;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 100px;
    height: 36px;
    background: linear-gradient(#ff6c00, #cf5803) #ff6c00;
    border: none;
    outline: 0 !important;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px #ffffff33 inset, 0 3px 5px #00010680,
      0 0 1px 1px #00010633;
    text-shadow: 0 -1px 2px #00000033;
    transition: 0.2s ease-in-out;
  }

  .button:hover:not(:active) {
    background: linear-gradient(#ff6c00, #ffae00) #ff6c00;
  }
  .button:active {
    background: linear-gradient(#bd5307, #924208) #bd5307;
    box-shadow: 0 0px #ffffff33 inset, 0 0px 0px #00010680,
      0 0 0px 0px #00010633;
  }
}
@media screen and (min-width: 768px) {
  .menuItem {
    width: 354px;
    flex-flow: wrap row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1170px) {
  .menuItem {
    width: 270px;
    margin-bottom: 0;
  }
}
