@value variables: '../../stylesheet/vars.css';
@value secondaryBackgroundColor from variables;

.Overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: secondaryBackgroundColor;
}
