.editCard {
  width: 70vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .editCard {
    width: 25vw;
  }
}
.image {
  width: inherit;
  height: 30vh;
  object-fit: cover;
}
.editForm {
  width: inherit;
}
.editForm__input {
  width: inherit;
}
.editForm__text {
  width: inherit;
  height: 15vh;
}
.editForm__btnSubmit {
  width: inherit;
}
.confirmation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation__form {
  width: 90%;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.12), 1px 2px 4px rgba(0, 0, 0, 0.12);
}

.confirmation__formBtnLink {
  width: 80%;
  height: 50px;
}
.confirmation__formBtn {
  width: inherit;
  height: inherit;
  background: #ff6c00;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

@media (min-width: 748px) {
  .confirmation__form {
    width: 700px;
    height: 441px;
  }
  .confirmation__formBtn {
    width: 420px;
  }
}
.confirmation__formText {
  font-size: 30px;
}
