.editCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  background: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
}

.editCard__image {
  display: block;
  width: 100%;
  height: 192px;
  background-color: white;
  object-fit: contain;
  margin-bottom: 16px;
  box-shadow: 0px 0px 2px #00000029;
}
.editForm__name {
  font-family: "RobotoRegular", sans-serif;
  font-size: 24px;
  color: #ff6c00;
  margin-bottom: 16px;
  padding: 0 26px;
  word-wrap: break-word;
  align-self: flex-start;
}

.editForm__btn {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  width: 220px;
  padding: 10px 0;
  border: none;
  background: #ff6c00;
  border-radius: 4px;
  margin-bottom: 16px;
  color: #fafafa;
}
