.editCard {
  display: inline-block;
  width: 270px;
  background: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.editCard__image {
  display: block;
  width: 100%;
  height: 192px;
  background-color: white;
  object-fit: cover;
  margin-bottom: 16px;
}
.editForm__name {
  font-size: 24px;
  color: #ff6c00;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  word-wrap: break-word;
}
.editForm__link {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 16px;
  width: 234px;
  height: 36px;
}
.editForm__btn {
  font-size: 14px;
  width: inherit;
  height: inherit;
  border: none;
  background: #ff6c00;
  border-radius: 4px;
}
