/* @value borderColor,primaryHeaderFontSize,primaryTextFontSize from "../../stylesheet/vars.css"; */
@value variables: '../../stylesheet/vars.css';
@value borderColor,thirdHeaderFontStyle,primaryColor, accentColor, primaryTextFontSize from variables;

.list {
  display: flex;
}

.AdminPageContainer {
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1200px;
  height: 100%;
  font-family: RobotoRegular;
}

.line {
  width: 100%;
  margin-bottom: 20px;
  border: none; /* Убираем границу для браузера Firefox */
  color: borderColor; /* Цвет линии для остальных браузеров */
  background-color: borderColor; /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
}

.adminMenuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.adminMenuItem {
  position: relative;
  z-index: 0;
  font-family: OswaldRegular;
  font-size: thirdHeaderFontStyle;
  color: primaryColor;
  text-transform: uppercase;
}

.adminMenuItems li:not(:last-of-type) {
  margin-bottom: 20px;
}

.adminMenuItem::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: right;
  width: 100%;
  height: 4px;
  background-color: accentColor;
  transition: transform 0.25s;
}

.adminMenuItem:hover {
  color: accentColor;
  text-decoration: none;
}

.adminMenuItem:hover::before {
  transform: translateX(-50%) scaleX(1);
  transform-origin: left;
}

.adminMenuActiveItem {
  color: accentColor;
}

.adminMenuActiveItem::before {
  transform: translateX(-50%) scaleX(1);
  transform-origin: left;
}

@media (min-width: 768px) {
  .adminMenuItems {
    flex-direction: row;
  }
  .lightHeader {
    position: relative;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
  }

  .adminMenuItems li:not(:last-of-type) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
