@value variables: '../../stylesheet/vars.css';
@value primaryColor,
accentColor,
lightColor,
primaryTextFontSize,
secondaryTextFontSize from variables;

.footerContainer {
  background-image: url(../../assets/img/footerbg.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerOverlay {
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.6);
  /* opacity: 0.6; */
  position: absolute;
}

.footerItemsContainer {
  z-index: 1;
}

.siteName {
  padding-top: 70px;
  margin-bottom: 16px;
  font-family: RobotoRegular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.siteName::after {
  content: "";
  width: 150px;
  height: 3px;
  display: block;
  background-color: #ff6c00;
  margin: 0 auto;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.siteName:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.phoneContainer {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 215px;
  font-family: OswaldBold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

.phoneImg {
  margin-right: 15px;
}

a {
  color: #fff;
}

.phoneFooter {
  color: #fff;
}

.phoneFooter:hover {
  color: #fff;
  text-decoration: none;
}

.socialsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
  margin: 0 auto;
  border-radius: 50px;
  width: 220px;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}

.iconsContainer:not(:last-of-type) {
  margin-right: 14px;
}

.iconsContainer:hover {
  background: #ff6c00;
}

.linkImg {
  width: 21px;
  height: 20px;
}

.phoneImg {
  width: 17px;
  height: 17px;
  margin-bottom: 3px;
}

.facebook {
  padding-right: 13px;
  padding-left: 12px;
}

.developers {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

.developersText {
  font-family: RobotoRegular;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
}

a.devLink {
  color: #ff6c00;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    background-image: url(../../assets/img/Footerbgtab.svg);
    background-size: cover;
    background-position: center;
  }

  .footerItemsContainer {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 88px;
    width: 440px;
  }

  .siteName {
    padding-top: 0;
  }

  .phoneContainer {
    order: -1;
    padding-bottom: 172px;

    margin-right: 80px;
    margin-bottom: 0;
  }

  .socialsContainer {
    order: -1;
    position: absolute;
    left: 31%;
    bottom: 39px;
  }

  .developersText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footerContainer {
    background-image: url(../../assets/img/Footerbgdes.svg);
    background-size: cover;
    background-position: center;
  }

  .footerItemsContainer {
    width: 930px;
  }

  .phoneContainer {
    padding-bottom: 95px;
    margin-right: 557px;
  }

  .socialsContainer {
    left: 39%;
    bottom: 17px;
  }
}
