.createContainer {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
  width: 320px;
  margin: 0 auto;
}

.applyForm {
  background-color: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
  padding: 10px;
  font-family: RobotoRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 100%;
}

p {
  margin-bottom: 0;
}

.ingredientsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.ingredient {
  padding: 5px;
  border: 1px solid rgba(39, 39, 39, 0.3);
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 8px;
  text-transform: lowercase;
}

.select {
  margin-bottom: 10px;
  font-family: RobotoRegular, sans-serif;
  font-weight: normal;
}

.select__value-control {
  background-color: transparent;
}

.select__option {
  cursor: pointer;
}

.inputLabel {
  display: block;
}

.editCard__titleName {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 10px;
}

.editCard__titleName_price {
  display: inline-grid;
  grid-template-columns: 20% 120px;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-family: OswaldMedium, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.editForm__inputLang {
  padding-left: 10px;
  margin-bottom: 4px;
}

.btn {
  display: block;
  width: 260px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  background: #ff6c00;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}

.inputImg {
  display: none;
}

.photoImg {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.checkbox {
  margin-left: 6px;
}

.descriptionInput {
  margin-bottom: 10px;
  width: 120px;
}

.editForm__inputLang_price {
  width: 120px;
  margin-bottom: 10px;
}
