.createContainer {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
  width: 320px;
  margin: 0 auto;
}

.applyForm {
  background-color: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
  padding: 10px 10px 70px 10px;
  font-family: RobotoRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 100%;
}

p {
  margin-bottom: 0;
}

input::placeholder {
  font-size: 20px;
  font-style: italic;
}

.ingredientsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.ingredient {
  padding: 5px;
  border: 1px solid rgba(39, 39, 39, 0.3);
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 8px;
  text-transform: lowercase;
}

.select {
  margin-bottom: 10px;
  font-family: RobotoRegular, sans-serif;
  font-weight: normal;
}

.select__value-control {
  background-color: transparent;
}

.select__option {
  cursor: pointer;
}

.inputLabel {
  display: block;
  position: relative;
}

.editCard__titleName {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 10px;
}

.editCard__titleName_price {
  display: inline-grid;
  grid-template-columns: 20% 120px;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-family: OswaldMedium, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.editForm__inputLang {
  padding-left: 10px;
  margin-bottom: 4px;
  /* border-radius: 4px; */
  border: solid 1px #9c9c9c;
  height: 28px;
  font-family: RobotoRegular;
}

.btn {
  display: block;
  width: 260px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  background: #ff6c00;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  transform: scale(1.08);
}

.btn:active {
  transform: scale(1);
}

.inputImg {
  /* display: none; */
  position: absolute;
  top: 25px;
  width: 1px;
  height: 1px;
  /* background-color: gray; */
}

.inputCreatIng {
  display: none;
}

.btnInner {
  background: grey;
  font-size: 16px;
}

.photoImg {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.checkbox {
  margin-left: 6px;
}

.descriptionInput {
  margin-bottom: 10px;
  width: 120px;
  /* border-radius: 4px; */
  border: solid 1px #9c9c9c;
  height: 28px;
}

.editForm__inputLang_price {
  width: 120px;
  margin-bottom: 10px;
  /* border-radius: 4px; */
  border: solid 1px #9c9c9c;
  height: 28px;
}

input {
  font-family: RobotoRegular;
}