/* .modal {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

.createContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.createContainer {
  width: 500px;
  margin: 0 auto;
}

/* .blackLayer {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
} */

.applyForm {
  background-color: #fff;
  /* position: absolute; */
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  /* top: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: height 300ms ease-in-out; */
}

.ingredientsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ingredient {
  padding: 3px;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin-top: 8px;
}

.select {
  margin-bottom: 10px;
}

.inputLabel {
  display: block;
  margin-bottom: 10px;
}
