.container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.editCard {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  max-width: 320px;
  margin: 0 auto;
  background: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
  font-size: 20px;
  text-align: center;
}
.editCard__image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: white;
}
.editForm {
  width: 100%;
}
.editCard__title {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-family: OswaldMedium;
  font-style: normal;
  font-weight: 500;
}
.editCard__titleName {
  display: grid;
  grid-template-columns: 20% 80%;
}
.editCard__titleLang {
  margin: 0;
}
.editForm__inputLang {
  padding-left: 10px;
  width: inherit;
}
.editCard__photoLabel {
  width: 100%;
}
.editForm__photo {
  display: none;
}
.editForm__photoBtn {
  width: 80%;
  height: 36px;
  background: #ff6c00;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  margin: 0 auto;
}
.editForm__inputCategory {
  padding-left: 10px;
  width: 180px;
}
.editForm__ingredientsSelect {
  width: 100%;
}
.editForm__ingredient {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.editForm__ingredientName {
  font-size: 20px;
}
.editForm__ingredientsList {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.editForm__addIngredientBtn {
  display: block;
  width: 80%;
  height: 36px;
  border: none;
  margin-top: 5px;
  background: #ff6c00;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.editForm__ingredientBtnDel {
  border: none;
  width: 20px;
  height: 20px;
  background: #ff6c00;
  border-radius: 4px;
  padding: 4px;
}
.editForm__ingredientBtnDelImage {
  display: block;
}
.editForm__price {
  display: grid;
  grid-template-columns: 20% 100px;
}
.editForm__priceInput {
  padding-left: 10px;
}
.editForm__inputSinglePrice {
  padding-left: 10px;
  width: 180px;
}
.editForm__priceTitle {
  margin: 0;
}
.editForm__inputDescription {
  padding-left: 10px;
  width: 180px;
}
.editForm__btnSubmit {
  width: 100%;
  margin-top: 10px;
  height: 36px;
  background: #ff6c00;
  border-radius: 4px;
  border: none;
}
.confirmation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation__form {
  width: 90%;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.12), 1px 2px 4px rgba(0, 0, 0, 0.12);
}
.confirmation__formText {
  font-size: 30px;
  width: 80%;
  word-wrap: break-word;
  margin: 0;
}
.confirmation__formBtnLink {
  width: 80%;
  height: 50px;
}
.confirmation__formBtn {
  width: 80%;
  height: 50px;
  background: #ff6c00;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

@media (min-width: 748px) {
  .confirmation__form {
    width: 500px;
    height: 341px;
  }
  .confirmation__formText {
    width: 320px;
    word-wrap: break-word;
    margin: 0;
  }
  .confirmation__formBtnLink {
    width: 320px;
  }
  .confirmation__formBtn {
    width: 320px;
  }
}
