@value variables: '../../stylesheet/vars.css';
@value lightColor, primaryTextFontSize from variables;

.enterButton {
  border: none;
  background-color: transparent;
  color: lightColor;
  font-family: RobotoRegular;
  font-size: primaryTextFontSize;
}
