@value variables: '../../stylesheet/vars.css';
@value accentColor, primaryColor, lightColor, secondaryTextFontSize, thirdHeaderFontStyle, borderColor, primaryTextColor from variables;

.clientOrderTitle {
  text-align: center;
  color: primaryColor;
  font-size: 1.2rem;
}

.orderDate {
  font-family: "OswaldMedium";
}

.productTitle {
  color: accentColor;
  margin-bottom: 0;
}

.orderPrice {
  font-family: "Rokkitt";
  color: primaryTextColor;
}

.noOrdersText {
  text-align: center;
  color: accentColor;
}

@media screen and (min-width: 1200px) {
  .clientOrderContainer {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    min-width: 600px;
  }

  .clientOrderTitle {
    padding-top: 12px;
  }

  .clientOrdersList {
    padding-top: 30px;
  }

  .orderPrice {
    padding-left: 60%;
  }
}
