@value variables: '../../stylesheet/vars.css';
@value accentColor, primaryColor, lightColor, secondaryTextFontSize, thirdHeaderFontStyle, borderColor, primaryTextColor from variables;

.clientInfoContainer {
  width: 280px;
  border: 1px solid borderColor;
  margin: 0 auto;
  padding: 0 6px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.08),
    0px 1px 1px rgba(0, 0, 0, 0.16);
}

.clientInfo {
  margin-bottom: 30px;
}

.clientInfo:after {
  display: block;
  height: 2px;
  width: 100%;
  background: accentColor;
  content: "";
}

.clienInfoTitle {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 10px;
}

.clientInfoList li:not(:last-child) {
  margin-bottom: 10px;
}

.clientInfoList img {
  width: 18px;
}

.clientInfoList span {
  padding-left: 16px;
  font-family: "RobotoRegular";
  color: primaryColor;
}

.orderBtn {
  width: 100px;
  height: 36px;
  margin: 0 auto;
  border: none;
  background: #ff6c00;
  border-radius: 4px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
}
