@value variables: '../../stylesheet/vars.css';
@value accentColor, primaryColor, lightColor, secondaryTextFontSize, thirdHeaderFontStyle, borderColor, primaryTextColor from variables;

.clientInfoContainer {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 10px 14px 10px;
}

.orderBtn {
  width: 100px;
  height: 36px;
  margin: 0 auto;
  border: none;
  background: accentColor;
  border-radius: 4px;
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}

.orderBtn a {
  font-family: "RobotoRegular";
  text-decoration: none;
  color: #ffffff;
}

/*media*/

@media screen and (min-width: 768px) {
  .clientInfoContainer {
    padding: 0 26px 16px 26px;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .clientInfoContainer {
    width: 1200px;
    display: flex;
    position: relative;
    padding-top: 20px;
  }

  .orderBtn {
    position: sticky;
    top: 50%;
    margin: 0 auto;
  }
}
