.noOrderContainer {
  width: 300px;
  margin: 200px auto;
  border: 2px solid #858585;
}

.noOrderText {
  text-align: center;
  font-size: 24px;
}

.orderContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.buttons_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 40px;
  padding: 0 10px;
}

.button {
  padding: 14px 0;
  width: 200px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "RobotoBold", sans-serif;
  text-transform: uppercase;
  background-color: #ff6c00;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
  margin: 8px 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.button:hover,
.button:focus {
  transform: scale(1.08);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  background-color: #ff9900;
  outline: none;
}

.button:active {
  transform: scale(1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.button:not(:last-of-type) {
  margin-right: 0;
}

.button_active {
  background-color: #00d93a;
  transform: scale(1.06);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.button_active:hover,
.button_active:focus {
  background-color: #00e31a;
}

@media screen and (min-width: 48rem) {
  .buttons_container {
    flex-direction: row;
  }
  .button:not(:last-of-type) {
    margin-right: 18px;
  }
}
