@value variables: '../../stylesheet/vars.css';
@value secondaryTextFontSize, thirdHeaderFontStyle, primaryColor, primaryTextColor, accentColor, primaryTextFontSize from variables;

p {
  margin-bottom: 0;
}

p.totalSum {
  margin-bottom: 0;
}

ul.itemsList {
  margin-bottom: 0;
}

.orderWrapper {
  margin: 0 auto;
  /* width: 300px; */
  max-width: 1200px;
  /* border: 1px solid primaryColor; */
  box-shadow: 1px 2px 1px 2px #0000001f, 2px 4px 4px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: RobotoRegular;
  font-size: primaryTextFontSize;
  color: primaryTextColor;
}

.dateWrapper {
  width: 100px;
  padding: 10px;
  text-align: center;
  border-left: 2px solid accentColor;
}
.orderDate {
  flex-basis: 50px;
}

.itemsList {
  flex-basis: 250px;
  margin-bottom: 20px;
}

.itemsListItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.itemName {
  color: accentColor;
  flex-basis: 150px;
  font-family: OswaldRegular;
  font-size: secondaryTextFontSize;
  text-transform: capitalize;
}

.itemSize {
  flex-basis: 50px;
  text-align: center;
}

.itemsCount {
  flex-basis: 50px;
  text-align: center;
}

.sumWrapper {
  flex-basis: 100px;
  text-align: center;
  padding-left: 5px;
  border-left: 1px solid gray;
}

.sumToPay {
  margin-bottom: 10px;
}

.orderContacts {
  flex-basis: 250px;
  text-align: center;
}

.orderContacts p:not(:last-of-type) {
  margin-bottom: 10px;
}

.orderCheckbox {
  flex-basis: 60px;
  text-align: center;
}

.titleDo {
  color: accentColor;
  margin-bottom: 5px;
  font-family: "RobotoBold", sans-serif;
}

.totalSum {
  flex-basis: 100px;
  font-family: RobotoRegular;
  font-size: 24px;
  color: primaryColor;
  margin-bottom: 20px;
}

.currency {
  font-size: 12px;
  margin-left: 6px;
}

@media (min-width: 768px) {
  .sumWrapper {
    flex-basis: 80px;
  }

  .orderContacts {
    flex-basis: 200px;
  }
}

@media (min-width: 1200px) {
  .sumWrapper {
    flex-basis: 100px;
  }
}
