.editForm__newIngredient {
  width: 100%;
}
.editCard__title {
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: OswaldMedium;
  font-style: normal;
  font-weight: 500;
}
.editForm__inputNewIngredient {
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
}
.editForm__inputLang::placeholder {
  font-style: italic;
}

.editForm__addNewIngredientBtn {
  display: block;
  height: 36px;
  border: none;
  background: #ff6c00;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: white;
}
.editCard__titleName {
  display: grid;
  grid-template-columns: 20% 80%;
  line-height: 30px;
}
.editForm__inputLang {
  height: 30px;
  padding-left: 10px;
  width: inherit;
}
